.git
.nextflow
.nextflow.log*
.venv
__pycache__
*.py[cod]
*.sif
*.tar
*.tar.gz
*.nii
*.nii.gz
*.h5
*.mat
*.mp4
*.jl
trace-*.txt
docs/build
megflow/docs/build
_misc
examples

megflow/temp
megflow/tools/DeepPrep
megflow/tools/MEGNet
megflow/tools/**/.git
megflow/tools/**/__pycache__
megflow/tools/**/build
megflow/tools/**/dist
megflow/tools/**/*.egg-info

softwares/**
!softwares/mkheadsurf
!softwares/tksurfer
!softwares/tktools
!softwares/tktools/**
!softwares/fsfast
!softwares/fsfast/**
!softwares/mri_mc
!softwares/mri_seghead
!softwares/dcm2niix
