*.sif
*.tar
*.nii.gz
*.nii
*.h5
*.mat
*.mp4
*.jl
DEV.md
*.tar.gz
nextflow/.nextflow/
nextflow/_misc/
megprep/reports/temp/
report.sh
main*.sh
nextflow/nextflow_for_*.config
softwares/
softwares/freesurfer/
softwares/debug_call_docker.sh
softwares/license.txt
softwares/run_deep.sh
softwares/tktools
.nextflow/
.venv/
.nextflow.log
.nextflow.log.*
megprep/temp/
megprep/tools/DeepPrep
megprep/tools/MEGNet
megprep/reports/__pycache__/
megprep/reports/reports/__pycache__/
megprep/__pycache__
run_*.sh
start_vpn.sh
license.txt
_misc
megprep/docs/build/
generate_static_html.sh
generate_static_html-smn4lang.sh
IMPROVEMENT_ROADMAP.md
.DS_Store
trace-*.txt