includeConfig "nextflow_multi_dataset_demo.config"

params.megflow.dataset_include = ["MEG_MASC_word"]
params.megflow.error_mode = "strict"
params.megflow.output_dir = "/data/liaopan/datasets/meg_masc_deepprep10_anat"
params.megflow.report_scope = "dataset"

params.megflow.datasets.MEG_MASC_word.steps = "anatomy"
params.megflow.datasets.MEG_MASC_word.output_dir = "/data/liaopan/datasets/meg_masc_deepprep10_anat"
params.megflow.datasets.MEG_MASC_word.fs_subjects_dir = "/data/liaopan/datasets/meg_masc_deepprep10_anat/smri/MEG_MASC_word"
params.megflow.datasets.MEG_MASC_word.anatomy = [
    method: "deepprep",
    is_bids: true,
    deepprep_backend: "docker",
    deepprep_container: "cmrlab/megflow:1.0.0",
    fs_license_file: "/data/liaopan/toolbox/freesurfer/7.4.1-1/license.txt",
    deepprep_device: "cpu"
]

params.megflow.datasets.MEG_MASC_word.meg_import = [
    subject_id: [
        "05", "09", "11", "14", "15",
        "17", "18", "23", "24", "25",
        "26", "27"
    ],
    session_id: null,
    task: null,
    run_id: null
]

params.megflow.datasets.MEG_MASC_word.mri_import = [
    subject_id: [
        "05", "09", "11", "14", "15",
        "17", "18", "23", "24", "25"
    ],
    session_id: null,
    t1_patterns: [
        "*T1_defaced.nii.gz",
        "*T1w.nii.gz",
        "*T1*.nii.gz"
    ]
]

workDir = "${params.megflow.output_dir}/work"
log.file = "${params.megflow.output_dir}/static_html_report/nextflow/nextflow.log"
report.file = "${params.megflow.output_dir}/static_html_report/nextflow/report.html"
timeline.file = "${params.megflow.output_dir}/static_html_report/nextflow/timeline.html"
trace.file = "${params.megflow.output_dir}/static_html_report/nextflow/trace.txt"

process {
    withName: import_mri_dataset {
        maxForks = 1
    }

    withName: run_deepprep {
        maxForks = 4
        cpus = 8
        memory = "32 GB"
    }

    withName: run_mkheadsurf {
        maxForks = 4
        cpus = 4
        memory = "8 GB"
    }

    withName: generate_bem {
        maxForks = 4
        cpus = 2
        memory = "8 GB"
    }
}
